*{
    margin:0;
    padding: 0;
}

/*Menu*/ 
header{
    background: white;
    border-bottom: 1px solid black;
    width:100%;
    font-family: arial, quicksand;
    padding-top: 20px; 
    padding-bottom: 0px;
    
}

div.logo{
    text-decoration-line: none;
    text-decoration: underline;
    margin: 45px;
}

ul{list-style: none;
width:100%;
margin-left: 1287px;
display:flex;
justify-content:space-between; 

}

ul a{ text-decoration: none;
    color: black;
}

ul div{ background-color: black;
    width:160px;
    height:100px;
    color: white; 
}

nav{width:100%;
    margin:0 px;
    display: flex;
    justify-content: space-between;
}

/* Primeiro Título */
main h1{
    color:#FF0026
}
